/* register.css */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #FFD89B, #19547B);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

.logo h1 {
    font-size: 3rem;
    color: #FF7846;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-size: 1rem;
    color: #333;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
form input[type="tel"] {
    border: none;
    border-radius: 25px;
    padding: 12px 15px;
    font-size: 1rem;
    width: 100%;
    background: #f2f2f2;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="tel"]:focus {
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 91, 234, 0.5);
    outline: none;
}

.submit-button {
    background: linear-gradient(135deg, #003B8B, #007BFF);
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.submit-button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
    background: linear-gradient(135deg, #0056b3, #0069d9);
}

.submit-button:active {
    transform: scale(1);
    box-shadow: none;
}
.start-button {
    background: linear-gradient(135deg, #062b63, #007BFF);
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.start-button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
    background: linear-gradient(135deg, #0056b3, #0069d9);
}

.start-button:active {
    transform: scale(1);
    box-shadow: none;
}

p{
    color: #060606;
}

@media (min-width: 600px) {
    .container {
        padding: 50px;
    }
}
